.index-wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px; }
  .index-wrap .header {
    width: 100%;
    height: 100px;
    background: yellow; }
    .index-wrap .header .free-wrap {
      margin-left: 10px; }
      .index-wrap .header .free-wrap span {
        display: block;
        font-size: 14px;
        line-height: 30px; }
        .index-wrap .header .free-wrap span i {
          font-style: normal; }
        .index-wrap .header .free-wrap span:nth-child(1) i {
          font-size: 30px;
          display: block; }
    .index-wrap .header .select-timer {
      position: absolute;
      top: 10px;
      right: 10px; }
      .index-wrap .header .select-timer span {
        border: 1px solid gray;
        padding: 2px 10px;
        font-size: 14px;
        margin-left: 10px;
        border-radius: 6px; }
  .index-wrap .mui-content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #fff; }
    .index-wrap .mui-content .con-top {
      width: 100%;
      height: 40px; }
    .index-wrap .mui-content .con {
      width: 100%;
      flex: 1; }
      .index-wrap .mui-content .con .bill-wrap, .index-wrap .mui-content .con .table-wrap, .index-wrap .mui-content .con .year-wrap, .index-wrap .mui-content .con .month-wrap {
        width: 100%;
        height: 100%; }
      .index-wrap .mui-content .con .bill-wrap {
        position: relative; }

.con-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; }
  .con-top .tab-list {
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 14px;
    display: flex;
    overflow: hidden; }
    .con-top .tab-list span {
      padding: 0 10px; }
      .con-top .tab-list span.active {
        background: yellow; }

.day-item {
  width: 100%; }
  .day-item .day-title {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 14px;
    color: gray; }

.bill-item {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .bill-item dl {
    display: flex;
    align-items: center; }
    .bill-item dl dt {
      background: yellow;
      border-radius: 50%;
      font-size: 12px;
      padding: 4px;
      margin-right: 10px; }

.month-item {
  width: 100%; }
  .month-item ol {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px; }
    .month-item ol span {
      display: block; }
    .month-item ol li:nth-child(1) span {
      display: inline-block; }

.red {
  color: red; }

.green {
  color: green; }

.gray {
  color: gray; }

.bill-wrap .mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell {
  padding: 11px 15px; }

.aside.mui-off-canvas-left, .aside .mui-off-canvas-right {
  background: #fff; }

.aside .mui-scroll {
  padding: 10px; }

.aside h2 {
  font-size: 18px;
  border-left: 4px solid yellow;
  padding-left: 20px; }

.aside ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  .aside ul li {
    color: gray;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
    padding: 2px 10px;
    border: 1px solid gray;
    border-radius: 8px; }
